body {
    background-color: rgb(233, 233, 241);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    transition: all 2s;
    margin-top: 1em;
}

img.test {
    height: 400px;
    max-height: 400px;
}

.container {
    padding: 2em;
    width: calc(100vw - 4em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    width: 15%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    
}

.in {
    opacity: 0;
}